[Unit]
Description=Update unbound blocklist config

[Service]
Type=oneshot
ExecStart=$GOBIN/hosts && unbound-control reload

[Install]
WantedBy=multi-user.target
